<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <a href="/categories">Go Back</a>
    <h1><%= category.title %></h1>
    <h2><%= category.description %></h2>

     <form action="/categories/<%= category.id %>" method="POST">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" maxlength="100">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
        
        <label for="type">Type of Resource: </label> <br>
        
        <input type="radio" id="note" name="type" value="note">
        <label for="note">Note</label><br>

        <input type="radio" id="digital-note" name="type" value="digital-note">
        <label for="digital-note">Digital Note</label><br>

        <input type="radio" id="link" name="type" value="link">
        <label for="link">Link</label>
        
        <input type="hidden" name="category_id" value="<%= category.id %>">
       

        <button>Submit</button>
    </form>
    <li>
        <% resources.forEach(resource => { %>
            <ul>
                <div>
                    <h2> <%= resource.title %> </h2>
                    <h4> <%= resource.description %> </h4>
                    <h3> <%=  resource.type %> </h3>
                    <a href="/categories/<%= category.id %>/<%= resource.id %>">Visit Category</a>
                    <form action="/categories/<%= category.id %>/<%= resource.id %>/delete" method="POST">
                        <button> Delete Resource </button>
                    </form>
                </div>
            </ul>
        <% }) %>     
    </li>
</body>
</html>