<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <script src="../scripts/toggleDelete.js" defer></script>
</head>
<body>
    <a href="/categories">Go Back</a>
    <h1><%= category.title %></h1>
    <h2><%= category.description %></h2>
    <button id="toggleEditBtn">Edit Resources</button>
    <a href="/categories/<%= category.id %>/resources/create">Create Resource</a>
    <li>
        <% resources.forEach(resource => { %>
            <ul>
                <div>
                    <h2> <%= resource.title %> </h2>
                    <h4> <%= resource.description %> </h4>
                    <h3> <%=  resource.type %> </h3>
                    <a href="/categories/<%= category.id %>/resources/<%= resource.id %>">Visit Resource</a>
                    <a href="/categories/<%= category.id %>/resources/<%= resource.id %>/update">Update Resource</a>
                    <form class="deleteBtn" action="/categories/<%= category.id %>/resources/<%= resource.id %>/delete" method="POST" hidden>
                        <button> Delete Resource </button>
                    </form>
                </div>
            </ul>
        <% }) %>     
    </li>
</body>
</html>